<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FootPrint</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>getToken</display-name>
    <servlet-name>getToken</servlet-name>
    <servlet-class>getToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getToken</servlet-name>
    <url-pattern>/getToken</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fbSetPass</display-name>
    <servlet-name>fbSetPass</servlet-name>
    <servlet-class>fbSetPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fbSetPass</servlet-name>
    <url-pattern>/fbSetPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lala</display-name>
    <servlet-name>lala</servlet-name>
    <servlet-class>lala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lala</servlet-name>
    <url-pattern>/lala</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoGetter</display-name>
    <servlet-name>PhotoGetter</servlet-name>
    <servlet-class>PhotoGetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoGetter</servlet-name>
    <url-pattern>/PhotoGetter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SinglePhotoGetter</display-name>
    <servlet-name>SinglePhotoGetter</servlet-name>
    <servlet-class>SinglePhotoGetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SinglePhotoGetter</servlet-name>
    <url-pattern>/SinglePhotoGetter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>postComment</display-name>
    <servlet-name>postComment</servlet-name>
    <servlet-class>postComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postComment</servlet-name>
    <url-pattern>/postComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentPoster</display-name>
    <servlet-name>CommentPoster</servlet-name>
    <servlet-class>CommentPoster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentPoster</servlet-name>
    <url-pattern>/CommentPoster</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingPoster</display-name>
    <servlet-name>RatingPoster</servlet-name>
    <servlet-class>RatingPoster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingPoster</servlet-name>
    <url-pattern>/RatingPoster</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingGetter</display-name>
    <servlet-name>RatingGetter</servlet-name>
    <servlet-class>RatingGetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingGetter</servlet-name>
    <url-pattern>/RatingGetter</url-pattern>
  </servlet-mapping>
</web-app>